<!DOCTYPE html>
<html>
<head>
    <title>Logowanie</title>
</head>
<body>
    <h2>Logowanie</h2>
    
    <form method="post">
        {% csrf_token %}
        {{ form.username.label_tag }} {{ form.username }}
        <br>
        {{ form.password.label_tag }} {{ form.password }}
        <br>
        {{ form.role.label_tag }} {{ form.role }}
        <br>
        <button type="submit">Zaloguj się</button>
    </form>
    
    {% if error_message %}
    <p>{{ error_message }}</p>
    {% endif %}
</body>
</html>